node_modules/**
.next/**
out/**
dist/**
build/**
coverage/**
public/**
cli/**

# misc editor + lock files (optional)
*.lock

# 👇 Storybook build outputs (keep sources linted)
storybook-static/**
out/storybook/**
