@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Oswald:wght@500&display=swap');

.timed-cards-root {
  position: relative;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  color: #ffffffdd;
  background-color: #1a1a1a;
  width: 100%;
  height: 100%;
}

.timed-cards-card {
  position: absolute;
  left: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, 0.6);
}

.timed-cards-card-content {
  position: absolute;
  left: 0;
  top: 0;
  color: #ffffffdd;
  padding-left: 16px;
}

.timed-cards-content-place {
  margin-top: 6px;
  font-size: 13px;
  font-weight: 500;
}

.timed-cards-content-title-1,
.timed-cards-content-title-2 {
  font-weight: 600;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.timed-cards-content-start {
  width: 30px;
  height: 5px;
  border-radius: 99px;
  background-color: #ffffffdd;
}

.timed-cards-details {
  z-index: 22;
  position: absolute;
  top: 240px;
  left: 60px;
}

.timed-cards-details .place-box {
  height: 46px;
  overflow: hidden;
}

.timed-cards-details .place-box .text {
  padding-top: 16px;
  font-size: 20px;
  position: relative;
}

.timed-cards-details .place-box .text:before {
  top: 0;
  left: 0;
  position: absolute;
  content: '';
  width: 30px;
  height: 4px;
  border-radius: 99px;
  background-color: white;
}

.timed-cards-details .title-1,
.timed-cards-details .title-2 {
  font-weight: 600;
  font-size: 72px;
  font-family: 'Oswald', sans-serif;
  line-height: 1.1;
}

.timed-cards-details .title-box-1,
.timed-cards-details .title-box-2 {
  margin-top: 2px;
  height: 100px;
  overflow: hidden;
}

.timed-cards-details > .desc {
  margin-top: 16px;
  width: 500px;
}

.timed-cards-details > .cta {
  width: 500px;
  margin-top: 24px;
  display: flex;
  align-items: center;
}

.timed-cards-details > .cta > .bookmark {
  border: none;
  background-color: #ecad29;
  width: 36px;
  height: 36px;
  border-radius: 99px;
  color: white;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.timed-cards-details > .cta > .bookmark svg {
  width: 20px;
  height: 20px;
}

.timed-cards-details > .cta > .discover {
  border: 1px solid #ffffff;
  background-color: transparent;
  height: 36px;
  border-radius: 99px;
  color: #ffffff;
  padding: 4px 24px;
  font-size: 12px;
  margin-left: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

.timed-cards-indicator {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 5px;
  z-index: 60;
  background-color: #ecad29;
}

.timed-cards-pagination {
  position: absolute;
  left: 0px;
  top: 0px;
  display: inline-flex;
}

.timed-cards-pagination > .arrow {
  z-index: 60;
  width: 50px;
  height: 50px;
  border-radius: 999px;
  border: 2px solid #ffffff55;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.timed-cards-pagination > .arrow:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.timed-cards-pagination > .arrow:nth-child(2) {
  margin-left: 20px;
}

.timed-cards-pagination > .arrow svg {
  width: 24px;
  height: 24px;
  stroke-width: 2;
  color: #ffffff99;
}

.timed-cards-pagination .progress-sub-container {
  margin-left: 24px;
  z-index: 60;
  width: 500px;
  height: 50px;
  display: flex;
  align-items: center;
}

.timed-cards-pagination .progress-sub-background {
  width: 500px;
  height: 3px;
  background-color: #ffffff33;
}

.timed-cards-pagination .progress-sub-foreground {
  height: 3px;
  background-color: #ecad29;
}

.timed-cards-pagination .slide-numbers {
  width: 50px;
  height: 50px;
  overflow: hidden;
  z-index: 60;
  position: relative;
}

.timed-cards-pagination .slide-numbers .item {
  width: 50px;
  height: 50px;
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  font-size: 32px;
  font-weight: bold;
}

.timed-cards-cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 100;
}
